In [ ]:
pip install seaborn

In [ ]:
import pandas as pd
import seaborn as sns
pd.__version__

In [ ]:
s = pd.Series([10, 20, 30], index=['a','b','c'])
df = pd.DataFrame({'Name':['Alice','Bob','Charlie'],
                   'Age':[25,30,35],
                   'City':['NY','Paris','London']})
df


# Load the Titanic dataset from seaborn for real data examples
df = sns.load_dataset('titanic')
df.head()

In [ ]:
df.to_csv('people.csv', index=False)
pd.read_csv('people.csv')

df.to_csv('titanic.csv', index=False)
pd.read_csv('titanic.csv').head()

In [ ]:
df.head(2)

In [ ]:
df.tail(1)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.dtypes

In [ ]:


df['sex']

In [ ]:
df[['sex','age']]

In [ ]:
df.loc[1,'age']

In [ ]:
df.iloc[0]['age']

In [ ]:
df.loc[df['age'] > 28, ['sex','embark_town']]

In [ ]:
df[df['age'] > 28]

In [ ]:
df[(df['age'] > 25) & (df['embark_town'] == 'Southampton')]

In [ ]:
df[df['embark_town'].isin(['Southampton','Cherbourg'])]

In [ ]:
df[~df['embark_town'].isna()]

In [ ]:
df.rename(columns={'embark_town':'location'}, inplace=True)

In [ ]:
df['salary'] = df['fare'] * 100
df.drop(columns=['salary'], inplace=True)
df

In [ ]:
mapping = {'Southampton':'UK', 'Cherbourg':'FR', 'Queenstown':'IE'}
df['country'] = df['location'].map(mapping)
df

In [ ]:
df.loc[1,'age'] = None
df.isna()

In [ ]:
df

In [ ]:
    df.dropna(subset=['age'])

In [ ]:
df

In [ ]:
df.to_csv('final.csv', index=False)
df.to_json('final.json')